/** @format */

button {
    text-decoration: none;
    border-radius: 25px;
    font-size: medium;
    background: #e55039aa;
    color: #fff;
    display: inline-block;
    padding: 12px 24px;
    outline: none;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:focus,
button:hover {
    background: #e55039;
}

form input[type] {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid whitesmoke;
    outline: none;
    font-size: large;
    padding-bottom: 10px;
    margin-right: 50px;
    margin-top: 3rem;
    color: white;
}

form input[type]:focus {
    background-color: transparent;
    color: white;
    box-shadow: none;
    border-bottom: 2px solid dodgerblue;
}

form input[type]::placeholder {
    color: white;
    opacity: 0.3;
}

form input[type]:focus::placeholder {
    color: white;
    opacity: 0.6;
}
