.list-item {
  font-size: 20px;
  padding: 10px;
  margin: 4px;
  margin-top: 0;
  padding-left: 30px;
  color: grey;
  width: 300px;
  background: white;
  display: flex;
  justify-content: flex-start;
  border-radius: 1px;
  border-right: 10px solid rgba(0, 120, 114, 0.6);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  opacity: 0.8;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.list-item:hover {
  opacity: 1;
  border-color: rgba(0, 120, 114, 0.9);
}

.list-item-fields {
  display: flex;
  flex-direction: column;
}
