.message-container {
  color: grey;
  font-size: 20px;
  letter-spacing: 0.4px;
  padding-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-direction: column;
}
