.change-password-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  min-width: 450px;
  background: #f5f5f5;
}
.change-password-navbar {
  flex: 0.1;
}
.change-password-form-container {
  flex: 1.2;
  display: flex;
  justify-content: center;
  color: #37474f;
}
.change-password-form-title {
  font-size: 23px;
  font-weight: 900;
  letter-spacing: 0.5px;
}
.change-password-form {
  margin: 20px 5px 5px 5px;
  padding: 10px;
  border-radius: 3%;
  background: #ffffff;
  -webkit-box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.75);
  width: 450px;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.change-password-form input:focus {
  opacity: 1;
  padding: 10px;
  color: 37474f;
  box-shadow: 0px 0px 0px 1.3px #c04848;
}
.change-password-form textarea:focus,
input:focus {
  outline: none;
}

.change-password-form input {
  font-size: 20px;
  width: 300px;
  height: 50px;
  box-shadow: 0px 0px 0px 1.3px #37474f;
  border: none;
  opacity: 1;
  padding: 10px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  color: #37474f;
}
.change-password-form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #37474f;
  opacity: 0.9; /* Firefox */
}
