.App {
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: grey;
  padding: 10px;
  margin-bottom: 30px;
  color: white;
  list-style: none;
}

.nav li {
  margin-left: 10px;
}

.select {
  width: 600px;
  margin: 0 auto;
}

.add {
  text-align: center;
}

.list {
  text-align: center;
}

.App-Component {
  margin: 150px auto 0;
  width: 600px;
}
.AutoCompleteText {
  margin: 0 auto;
  width: 50%;
  border: 1px solid grey;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) 0 2px 4px 1px rgba(0, 0, 0, .18);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
}

.AutoCompleteText input {
  width: 100%;
  border: none;
  padding: 10px 5px;
  box-sizing: border-box;
  outline: none;
}

.AutoCompleteText ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border-top: 1px solid grey;
}

.AutoCompleteText ul::before {
  content: "";
}

.AutoCompleteText li {
  padding: 10px 5px;
  cursor: pointer;
}

.AutoCompleteText li:hover {
  text-decoration: underline;
  background-color: rgba(128, 128, 128, 0.20);
}

.myInput {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}