@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: ' #f6f6f1';

}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background: ' #f6f6f1';
}
