@font-face {
    font-family: RobotoCondensed;
    src: url(assets/roboto-condensed.light.ttf);
    font-weight: 800;
}

@font-face {
    font-family: EconomicaBold;
    src: url(assets/economica-bold.ttf);
    font-weight: 800;
}

body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%; /*provides an inner space in the entire border*/
    font-family: 'RobotoCondensed';
}

h1, h2, h3, h4, h5 {
    font-family: 'EconomicaBold';
}

.my-button-1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.my-button-2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: myanimation 10s infinite;
}

@keyframes myanimation {
    0% {background-color: red;}
    25%{background-color:yellow;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
  }

